Options +FollowSymLinks
RewriteEngine On

RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.*)\.html$ $1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]