@font-face {
   font-family: 'Oxanium-Regular';
   font-display: swap;
   src: url('file:///C:/Users/swivr/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-21_192743/fonts/Oxanium-Regular/font.ttf');
}
